#Mapa_de_usuario
{
    width: 100% ;
    height: 81% ;

    margin-bottom: 2.5% ;

    border-radius: 25px ;

    background-color: aquamarine;
}
.estilo2:hover{
    text-decoration: underline;
    color: #185B0E;
}

#Mapa_de_vehiculo
{
    width: 100% ;
    height: 76% ;

    margin-bottom: 2.5% ;

    border-radius: 25px ;

    /* background-color: aquamarine; */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

#imagenFondo{        
    background-image: url(../Imágenes/Fondos/fondoform.jpg);
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 20px;
    color: white;
}
#imagenFondos{    
    background-image: url(../Imágenes/Fondos/fondoform.jpg);
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 20px;
    color: white;
}
#imagenFondoo{    
    background-image: url(../Imágenes/Fondos/fondoAzul.jpg);
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    color: white;
}
.estilo1{
    font-family: 'Satisfy', cursive;
}
.estilo2{
    align-content: center;
    text-align: center;
    font-family: arial;
    font-size: 100%;
    color: white;
}
.estilo3{
    align-content: center;
    text-align: center;
    font-family: arial;
    font-size: 90%;
    color: #00BFFF;
}
#btnVerificar{
    height: 50%;
    font-family: fantasy;
    font-size: 15px;
}
#mesajeResult{
    margin-top: 10px;
}
aum{
    font-size: 38px;
}

.aum2{
    font-size: 20px;
}
footer{
    /* background-image: url(../Imágenes/Fondos/fondopie.png);*/
    background: black;
    background-position: center center;	  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: grey;
}

#mesajeResult{
    margin-top: 10px;
}
.wrap {
    width:250px;
    height: auto;
    margin: auto;
    margin-top: 10%;
}
.avatar {
    width: 100%;
    margin: auto;
    width: 65px;
    border-radius: 100px;
    height: 65px;
    background: #448ed3 ;
    position: relative;
    bottom: -15px;
}
.avatar img {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin: auto;
    border:3px solid #fff;
    display: block;
}
.wrap input {
    border: none;
    background: #fff;
    font-family:Lato ;
    font-weight:700 ;
    display: block;
    height: 40px;
    outline: none;
    width: calc(100% - 24px) ;
    margin: auto;
    padding: 6px 12px 6px 12px;
}
.bar {
    width: 100%;
    height: 1px;
    background: #fff ;
}
.bar i {
    width: 95%;
    margin: auto;
    height: 1px ;
    display: block;
    background: #d1d1d1;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.inline{
    display: inline-block;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.inline{
    display: inline-block;
}
.wrap input[type="text"] {
    border-radius: 7px 7px 0px 0px ;
}
.wrap input[type="password"] {
    border-radius: 0px 0px 7px 7px ;
}
.forgot_link {
    color: #83afdf ;
    color: #83afdf;
    text-decoration: none;
    font-size: 11px;
    position: relative;
    left: 193px;
    top: -36px;
}
.wrap button {
    width: 100%;
    border-radius: 7px;
    background: #b6ee65;
    text-decoration: center;
    border: none;
    color: #51771a;
    margin-top:-5px;
    padding-top: 14px;
    padding-bottom: 14px;
    outline: none;
    font-size: 13px;	
    border-bottom: 3px solid #307d63;
    cursor: pointer;
}

.image{
    position: absolute;
    top: 120%;
    left: 56%;
    width: 100px;
    height: 100px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

ul {
    color: white;
    width: 100%;
    display: table-row;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #185B0E;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    background: #185B0E;
    font-size: 25px;
    text-align: left;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: black;
}
.icon-bar {
    color: white;
    border-color: white;
    background-color: white;
}
.navbar-brand{
    color: white;
}
.FondoTB{
    background: #185B0E;
}
.FondoTB img{
    position: absolute; top: 0.5%; right: 5%;
    width: 5%;
    height: 10%;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.margin-0{
    margin: 0;
}
.TB{
    text-align: center;
    font-family: arial;
    font-size: 40px;
    color: white;

}
.TB1{
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
    color: white; 
    position: absolute;
    top: 111%;
    left: 8%;

    -webkit-text-stroke: 2px blue;
}
.fondo {
    background: #185B0E;
    font-family: arial;
}
#centrar{
    position: center;
    align-content: center;
    text-align: center;
    margin-left: 50%;
}

.error{
    border: 2px solid orangered;
}

.correcto{
    border: 2px solid green;
}

.normal{
    border: 1px solid gray;
}
