<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculoServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.VehiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoferServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.ChoferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistorialServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.HistorialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignacionServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.AsignacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculoServlet</servlet-name>
        <url-pattern>/VehiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoferServlet</servlet-name>
        <url-pattern>/ChoferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistorialServlet</servlet-name>
        <url-pattern>/HistorialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignacionServlet</servlet-name>
        <url-pattern>/AsignacionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
